{% if module.show_hide_ %}
{% set moduleId = '#hs_cos_wrapper_{{ name }}' %}

<div class="solutisec {% if module.reverse_content %} solutiTrevsec {% endif %} fullwidth bgsec space-sec">
 <div class="{% if module.reverse_content %} wrapper-left {% else %} wrapper-right {% endif %}">
   <div class="solutiInner solutifont{{ module.content.title_font_size }} d_flex align_center space_between">
     <div class="solutiILeft wow fadeIn">
       <div class="solutiImage text-center">
          {% if module.content.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.width|escape_attr }}" height="{{ module.content.image_field.height|escape_attr }}"' %}
          {% if module.content.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.width|escape_attr }}" height="{{ module.content.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.content.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.max_width|escape_attr }}" height="{{ module.content.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.content.image_field.loading != 'disabled' ? 'loading="{{ module.content.image_field.loading|escape_attr }}"' : '' %}
          <img src="{{ module.content.image_field.src|escape_url }}" alt="{{ module.content.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
       </div>
     </div>
     <div class="solutiIRight  wow fadeInUp">
       <h2>{{ module.content.title }}</h2>
       <div class="solutiIRtext {% if module.content.show_button %}  solutiIRtwllist {% endif %}">
         {{ module.content.text }}
       </div>
       {% if module.content.show_button %}
         <div class="solutiIRbtn pt40 d_flex secbtn {{ module.content.button.button_choice }} set-btn-arrows-true">
            {% set href = module.content.button.button_link.url.href %}
            {% if module.content.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% elif module.content.button.button_link.url.type is equalto "PHONE_NUMBER" %}
              {% set href = "tel:" + href %}
            {% endif %}
            <a
              {% if module.content.button.button_link.url.type is equalto "CALL_TO_ACTION"  %}
                href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
              {% else %}
                href="{{ href|escape_url }}"
              {% endif %}
              {% if module.content.button.button_link.open_in_new_tab %}
                target="_blank"
              {% endif %}
              {% if module.content.button.button_link.rel %}
                rel="{{ module.content.button.button_link.rel|escape_attr }}"
              {% endif %}
              >
              {{ module.content.button.button_text }}
            </a>
         </div>
       {% endif %}
       
     </div>
   </div>
 </div>
  {% if module.content.right_icon.src %}
  <div class="solutiIcon">
    
    {% set sizeAttrs = 'width="{{ module.content.right_icon.width|escape_attr }}" height="{{ module.content.right_icon.height|escape_attr }}"' %}
    {% if module.content.right_icon.size_type == 'auto' %}
    {% set sizeAttrs = 'width="{{ module.content.right_icon.width|escape_attr }}" height="{{ module.content.right_icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% elif module.content.right_icon.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="{{ module.content.right_icon.max_width|escape_attr }}" height="{{ module.content.right_icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
    {% set loadingAttr = module.content.right_icon.loading != 'disabled' ? 'loading="{{ module.content.right_icon.loading|escape_attr }}"' : '' %}
    <img src="{{ module.content.right_icon.src|escape_url }}" alt="{{ module.content.right_icon.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
    
  </div>
  {% endif %}
  
  
  
  {% if module.bottom_right_image.src %}
  <div class="solutibttriicon">
  
	{% set sizeAttrs = 'width="{{ module.bottom_right_image.width|escape_attr }}" height="{{ module.bottom_right_image.height|escape_attr }}"' %}
	{% if module.bottom_right_image.size_type == 'auto' %}
		{% set sizeAttrs = 'width="{{ module.bottom_right_image.width|escape_attr }}" height="{{ module.bottom_right_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
	{% elif module.bottom_right_image.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.bottom_right_image.max_width|escape_attr }}" height="{{ module.bottom_right_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.bottom_right_image.loading != 'disabled' ? 'loading="{{ module.bottom_right_image.loading|escape_attr }}"' : '' %}
	<img src="{{ module.bottom_right_image.src|escape_url }}" alt="{{ module.bottom_right_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>

  </div>
{% endif %}  
  
  
  
  
  
  
</div>


{% require_css %}
<style>
  {{ moduleId }} .bgsec { {% if module.style.select_background == 'bg_color' %}
    background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity ~ '%' }});
    {% elif module.style.select_background == 'bg_image' %}
    {{ module.style.background_image.css }} background-repeat: no-repeat;
    {% elif module.style.select_background == 'bg_gradient' %}
    background: {{ module.style.background_gradient.css }};
    {% endif %} }
  
  {{ moduleId }} .space-sec { {{ module.style.spacing.desktop.css }}; }
  
  {{ moduleId }} .solutiIRight h2 { color:rgba({{ module.color_setting.title_color.color|convert_rgb }},{{ module.color_setting.title_color.opacity }}%); max-width:{{ module.content.title_max_width }}px;  }
  {{ moduleId }} .solutiIRight h2 span { color:rgba({{ module.color_setting.title_span_color.color|convert_rgb }},{{ module.color_setting.title_span_color.opacity }}%);  }
  {{ moduleId }} .solutiIRtext { color:rgba({{ module.color_setting.text_color.color|convert_rgb }},{{ module.color_setting.text_color.opacity }}%);  max-width:{{ module.content.text_max_width }}px; }
  
  
  {{ moduleId }} .solutiIRtext ul li:after {  background:{{ module.color_setting.icon_color.color }};  }
  {{ moduleId }} .solutiIRtext ul li:before {  color:{{ module.color_setting.check_arrow_color.color }};  }
  
  
  
  @media(max-width: 991px){ {{ moduleId }} .space-sec { {{ module.style.spacing.tablet.css }}; } }
  
  @media(max-width: 767px){ {{ moduleId }} .space-sec { {{ module.style.spacing.mobile.css }}; } }
  
</style>
{% end_require_css %}



{% endif %}

