{% if module.show_hide_ %}
{% set moduleId = '#hs_cos_wrapper_{{ name }}' %}

<div class="lifecycsec fullwidth bgsec space-sec">
 <div class="wrapper">
   <div class="lifecycTop d_flex align_center space_between pb80 wow fadeInUp">
     <div class="lifecycTleft">
       <h2>{{ module.content.top_content.title }}</h2>
       <div class="lifecycTtext">
         {{ module.content.top_content.text }}
       </div>
     </div>
     
     <div class="lifecycTRight">
       <div class="lifecycTRitext pb12">
         {{ module.content.top_content.right_text }}
       </div>
       <div class="lifecycTRibtn d_flex secbtn {{ module.content.top_content.button.button_choice }} {% if module.content.top_content.button.set_arrow %} set-btn-arrows-true {% endif %}">
         {% set href = module.content.top_content.button.button_link.url.href %}
          {% if module.content.top_content.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% elif module.content.top_content.button.button_link.url.type is equalto "PHONE_NUMBER" %}
            {% set href = "tel:" + href %}
          {% endif %}
          <a
            {% if module.content.top_content.button.button_link.url.type is equalto "CALL_TO_ACTION"  %}
              href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
            {% else %}
              href="{{ href|escape_url }}"
            {% endif %}
            {% if module.content.top_content.button.button_link.open_in_new_tab %}
              target="_blank"
            {% endif %}
            {% if module.content.top_content.button.button_link.rel %}
              rel="{{ module.content.top_content.button.button_link.rel|escape_attr }}"
            {% endif %}
            >
            {{ module.content.top_content.button.button_text }}
          </a>
       </div>
     </div>  
   </div>
   <div class="lifecycTInner">
     <div class="lifecycTInn">
       <div class="lifecycTimage">
          {% if module.content.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.width|escape_attr }}" height="{{ module.content.image_field.height|escape_attr }}"' %}
          {% if module.content.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.width|escape_attr }}" height="{{ module.content.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.content.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.content.image_field.max_width|escape_attr }}" height="{{ module.content.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.content.image_field.loading != 'disabled' ? 'loading="{{ module.content.image_field.loading|escape_attr }}"' : '' %}
          <img class="lifecycTfulimage" src="{{ module.content.image_field.src|escape_url }}" alt="{{ module.content.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
         
         
         {% if module.content.center_image.src %}
            {% set sizeAttrs = 'width="{{ module.content.center_image.width|escape_attr }}" height="{{ module.content.center_image.height|escape_attr }}"' %}
            {% if module.content.center_image.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.content.center_image.width|escape_attr }}" height="{{ module.content.center_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.content.center_image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.content.center_image.max_width|escape_attr }}" height="{{ module.content.center_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = module.content.center_image.loading != 'disabled' ? 'loading="{{ module.content.center_image.loading|escape_attr }}"' : '' %}
            <img class="lifecycTcerimage" src="{{ module.content.center_image.src|escape_url }}" alt="{{ module.content.center_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
         
       </div>
       <div class="lifecycTiRpw">
         {% for item in module.content.field_group %}
           <div class="lifecycTiRCols wow fadeInUp">
             <div class="lifecycTiRCinn">
               <div class="lifecycTiRCoTp d_flex align_center gap14 pb12">
                  {% if item.icon.src %}
                  {% set sizeAttrs = 'width="{{ item.icon.width|escape_attr }}" height="{{ item.icon.height|escape_attr }}"' %}
                  {% if item.icon.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ item.icon.width|escape_attr }}" height="{{ item.icon.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% elif item.icon.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.icon.max_width|escape_attr }}" height="{{ item.icon.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                  {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading|escape_attr }}"' : '' %}
                  <img src="{{ item.icon.src|escape_url }}" alt="{{ item.icon.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                 <h3>{{ item.title }}</h3>
               </div>
               <div class="lifecycTiRCoTtxt">
                  {{ item.text|striptags|truncate(100, False, '.') }}
               </div>
              </div>
           </div>
         {% endfor %}
       </div>
     </div>
   </div>
   
   
   
 </div>
</div>


{% require_css %}
<style>
  {{ moduleId }} .bgsec { {% if module.style.select_background == 'bg_color' %}
    background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity ~ '%' }});
    {% elif module.style.select_background == 'bg_image' %}
    {{ module.style.background_image.css }} background-repeat: no-repeat;
    {% elif module.style.select_background == 'bg_gradient' %}
    background: {{ module.style.background_gradient.css }};
    {% endif %} }
  
  {{ moduleId }} .space-sec { {{ module.style.spacing.desktop.css }}; }
  
  {{ moduleId }} .lifecycTleft h2 { color:rgba({{ module.color_setting.title_color.color|convert_rgb }},{{ module.color_setting.title_color.opacity }}%);  }
  {{ moduleId }} .lifecycTleft h2 span { color:rgba({{ module.color_setting.title_span_color.color|convert_rgb }},{{ module.color_setting.title_span_color.opacity }}%);  }
  {{ moduleId }} .lifecycTtext, .lifecycTRitext { color:rgba({{ module.color_setting.text_color.color|convert_rgb }},{{ module.color_setting.text_color.opacity }}%);  }
  
  {{ moduleId }} .lifecycTiRCoTp h3 { color:rgba({{ module.color_setting.box_title_color.color|convert_rgb }},{{ module.color_setting.box_title_color.opacity }}%);  }
  {{ moduleId }} .lifecycTiRCoTtxt { color:rgba({{ module.color_setting.box_text_color.color|convert_rgb }},{{ module.color_setting.box_text_color.opacity }}%);  }
  
  
  @media(max-width: 991px){ {{ moduleId }} .space-sec { {{ module.style.spacing.tablet.css }}; } }
  
  @media(max-width: 767px){ {{ moduleId }} .space-sec { {{ module.style.spacing.mobile.css }}; } }
  
</style>
{% end_require_css %}



{% endif %}

