.receresoTop .receresoTitle { margin: 0; max-width: 660px; }
.receresoTop .receresoTitle h2 { margin: 0; }
.recerlaylayout_2 span.woproceDot { display: none; }
.recerlaylayout_2 .woprocetaConte { justify-content: space-between; }
.woproceText { color: rgb(5 12 20 / 75%); }