{% if dynamic_page_hubdb_row %}

{% if module.show_hide_ %}
{% set moduleId = '#hs_cos_wrapper_{{ name }}' %}
<div class="fullwidth wrkcta-sec space-sec">
 <div class="wrapper">
   <div class="secinner bgsec wrkcta-inner text-center">
   <div class="wrkcta-content">
      {% if module.text or module.title %}   
      <div class="secheader wrkcta-header">
        {% if module.title %} 
        <div class="sectitle"><h2 class="{{ module.heading_choice }}">{{ module.title }}</h2></div>        
        {% endif %}
        {% if module.text %}  
        <div class="sectxt">{{ module.text }}</div>
        {% endif %} 
      </div>
      {% endif %} 
      {% if module.button %} 
      <div class="secbtns flexwrap justifyCenter">
        {% for item in module.button %} 
        <div class="secbtn {{ item.button_choice }}">
          {% set href = item.button_link.url.href %}
          {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
          {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
          >
            {{ item.button_text }}
          </a> 
        </div>
        {% endfor %} 
      </div>  
      {% endif %}
   </div>
  </div>  
 </div>
</div>


{% require_css %}
<style>
  {{ moduleId }} .wrkcta-content { max-width: {{ module.content_maxwidth }}px; margin: 0 auto; }
  {{ moduleId }} .wrkcta-inner:before { content: ''; background-image: url({{ module.shape_image.src }});}
  
  {{ moduleId }} .bgsec { {% if module.style.select_background == 'bg_color' %}
    background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity ~ '%' }});
    {% elif module.style.select_background == 'bg_image' %}
    {{ module.style.background_image.css }} background-repeat: no-repeat;
    {% elif module.style.select_background == 'bg_gradient' %}
    background: {{ module.style.background_gradient.css }};
    {% endif %} }
  
  {{ moduleId }} .space-sec { {{ module.style.spacing.desktop.css }}; }
  {{ moduleId }} .wrkcta-inner { {{ module.style.inner_spacing.desktop.css }}; }
  
  {{ moduleId }} .sectitle h1,
  {{ moduleId }} .sectitle h2 , 
  {{ moduleId }} .sectitle h3 , 
  {{ moduleId }} .sectitle h4 , 
  {{ moduleId }} .sectitle h5 ,
  {{ moduleId }} .sectitle h6 { color: rgba({{ module.color_settings.title_color.color|convert_rgb }},{{ module.color_settings.title_color.opacity ~ '%' }}); }
  {{ moduleId }} .sectxt , {{ moduleId }} .sectxt * { color: rgba({{ module.color_settings.text_color.color|convert_rgb }},{{ module.color_settings.text_color.opacity ~ '%' }}); } 
  
  {% for item in module.button %} 
   {{ moduleId }} .secbtn:nth-child({{ loop.index }}) a { background-color: rgba({{ item.background_color.color|convert_rgb }},{{ item.background_color.opacity ~ '%' }}); border-color: rgba({{ item.border_color.color|convert_rgb }},{{ item.border_color.opacity ~ '%' }}); color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity ~ '%' }}); }
   {{ moduleId }} .secbtn:nth-child({{ loop.index }}) a:hover { background-color: rgba({{ item.background_color_hover_.color|convert_rgb }},{{ item.background_color_hover_.opacity ~ '%' }}); border-color: rgba({{ item.border_color_hover_.color|convert_rgb }},{{ item.border_color_hover_.opacity ~ '%' }}); color: rgba({{ item.text_color_hover_.color|convert_rgb }},{{ item.text_color_hover_.opacity ~ '%' }}); }  
  {% endfor %}
  
  
  @media(max-width: 991px){ {{ moduleId }} .space-sec { {{ module.style.spacing.tablet.css }}; } {{ moduleId }} .wrkcta-inner { {{ module.style.inner_spacing.tablet.css }}; } }
  
  @media(max-width: 767px){ {{ moduleId }} .space-sec { {{ module.style.spacing.mobile.css }}; } {{ moduleId }} .wrkcta-inner { {{ module.style.inner_spacing.mobile.css }}; } }
  
</style>
{% end_require_css %}
{% endif %}
{% endif %}
