<!--
  templateType: "page"
  isAvailableForNewContent: false
-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": 
[
{
	"@type": ["https://schema.org/AboutPage"],
	"@id": "https://www.goworkwize.com/about#aboutpage",
	"url": "https://www.goworkwize.com/about",
	"name": "Removing Boundaries for Globally Distributed Teams",
	"alternateName": "About Workwize",
	"description": "Empower your global workforce with Workwize. Streamline IT asset management, onboarding, and offboarding processes for remote and hybrid workplaces.",
	"inLanguage":
		[
			{
				"@id": "https://www.goworkwize.com/about#language"
			}
		],
	"primaryImageOfPage": "https://www.goworkwize.com/hs-fs/hubfs/Workwize-Office-Photography-Artovisuals-23.jpg?width=2000&name=Workwize-Office-Photography-Artovisuals-23.jpg",
	"image":
		[
			"https://www.goworkwize.com/hs-fs/hubfs/Workwize-Office-Photography-Artovisuals-23.jpg?width=2000&name=Workwize-Office-Photography-Artovisuals-23.jpg",
			"https://www.goworkwize.com/hubfs/MichielMeyer-nopattern.png",
			"https://www.goworkwize.com/hubfs/VictorDik-nopattern.png",
			"https://www.goworkwize.com/hubfs/SebastiaanScholten-nopattern.png",
			"https://www.goworkwize.com/hubfs/Workwize-Office-Photography-Artovisuals-2.jpg",
			"https://www.goworkwize.com/hubfs/Workwize_01_1_1_25.jpg",
			"https://www.goworkwize.com/hubfs/Untitled%20design%20%284%29.png",
			"https://www.goworkwize.com/hubfs/Untitled%20design%20%288%29.png",
			"https://www.goworkwize.com/hubfs/Untitled%20design%20%287%29.png",
			"https://www.goworkwize.com/hubfs/Untitled%20design%20%286%29.png",
			"https://www.goworkwize.com/hubfs/Untitled%20design%20%283%29.png"
		],
	"potentialAction":
		[
			{
				"@id": "https://www.goworkwize.com/about#ViewAction"
			},
			{
				"@id": "https://www.goworkwize.com/about#read-action"
			}
		],
	"mainEntity":
		[
			{
				"id": "https://www.goworkwize.com/#organization"
			}
		],
	"breadcrumb":
		{
			"@id": "https://www.goworkwize.com/about#breadcrumb"
		}
},
{
	"@type": ["Organization", "OnlineBusiness"],
	"id": "https://www.goworkwize.com/#organization",
	"name": "Workwize",
	"legalName": "Workwize",
	"alternateName": "Global IT Hardware Management | Workwize",
	"url": "https://www.goworkwize.com/",
	"description": "Equip your global workforce effortlessly with Workwize's all-in-one platform. Manage IT hardware across 100+ countries with ease.",
	"image": 
		[
			"https://www.goworkwize.com/hubfs/Workwize/Image/Workwize%20Logo.svg",
			"https://www.goworkwize.com/hs-fs/hubfs/and%20many%20more!%20(5).webp?width=1080&height=1080&name=and%20many%20more!%20(5).webp"
		],
	"logo": "https://www.goworkwize.com/hubfs/Workwize/Image/Workwize%20Logo.svg",
	"address": 
		[
			{
				"@id": "https://www.goworkwize.com/#address-nl"
			},
			{
				"@id": "https://www.goworkwize.com/#address-us"
			}
		],
	"legalAddress":
		{
			"@id": "https://www.goworkwize.com/#address-nl"
		},
	"member": 
		[
			{
				"@id": "https://www.goworkwize.com/#michiel-meyer"
			},
			{
				"@id": "https://www.goworkwize.com/#victor-dik"
			},
			{
				"@id": "https://www.goworkwize.com/#sebastiaan-scholten"
			}
		]
},
{
	"@type": "Person",
	"image": "https://www.goworkwize.com/hubfs/MichielMeyer-nopattern.png",
	"@id": "https://www.goworkwize.com/#michiel-meyer",
	"name": "Michiel Meyer",
	"jobTitle": "Chief Executive Officer",
	"sameAs": "https://www.linkedin.com/in/michielmeyer",
	"worksFor": 
		{
			"@id": "https://www.goworkwize.com/#organization"
		}
},
{
	"@type": "Person",
	"image": "https://www.goworkwize.com/hubfs/VictorDik-nopattern.png",
	"@id": "https://www.goworkwize.com/#victor-dik",
	"name": "Victor Dik",
	"jobTitle": "Chief Commercial Officer",
	"sameAs": "https://www.linkedin.com/in/victor-dik-331789138",
	"worksFor": 
		{
			"@id": "https://www.goworkwize.com/#organization"
		}
},
{
	"@type": "Person",
	"image": "https://www.goworkwize.com/hubfs/SebastiaanScholten-nopattern.png",
	"@id": "https://www.goworkwize.com/#sebastiaan-scholten",
	"name": "Sebastiaan Scholten",
	"jobTitle": "Chief Technology Officer",
	"sameAs": "https://www.linkedin.com/in/sebastiaan-scholten-828a5b198",
	"worksFor": 
		{
			"@id": "https://www.goworkwize.com/#organization"
		}
},
{
	"@type": "PostalAddress",
	"@id": "https://www.goworkwize.com/#address-nl",
	"streetAddress": "Leidsegracht 38",
	"postalCode": "1016 CM",
	"addressLocality": "Amsterdam",
	"addressCountry": "NL"
},
{
	"@type": "PostalAddress",
	"@id": "https://www.goworkwize.com/#address-us",
	"streetAddress": "33 Irving Place",
	"addressLocality": "New York",
	"addressRegion": "NY",
	"postalCode": "10003",
	"addressCountry": "US"
},
{
	"@type": "Language",
	"@id": "https://www.goworkwize.com/about#language",
	"name": "English language",
	"alternateName":
		[
			"en",
			"eng"
		],
	"sameAs":	
		[
			"https://en.wikipedia.org/wiki/English_language"
		]
},
{
	"@type": "https://schema.org/ViewAction",
	"@id": "https://www.goworkwize.com/about#ViewAction",
	"name": "View job openings",
	"object":
		{
			"@type": "CollectionPage",
			"url": "https://www.goworkwize.com/careers"
		}
},
{
	"@type": "https://schema.org/ReadAction",
	"@id": "https://www.goworkwize.com/about#read-action",
	"object": 
		{
			"@id": "https://www.goworkwize.com/about#aboutpage"
		}
},
{
	"@context": "https://schema.org/",
	"@id": "https://www.goworkwize.com/about#breadcrumb",
	"@type": "BreadcrumbList", 
	"itemListElement": 
		[
			{
				"@type": "ListItem", 
				"position": 1, 
				"name": "Home",
				"item": "https://www.goworkwize.com/"  
			},
			{
				"@type": "ListItem", 
				"position": 2, 
				"name": "About Us"
			}
		]
}
]
}
</script>