<!--
  templateType: "page"
  isAvailableForNewContent: false
-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": 
	[
{
	"@context": "https://schema.org",
	"@type": "ContactPage",
	"@id": "https://www.goworkwize.com/contact-us#contactpage",
	"url": "hhttps://www.goworkwize.com/contact-us",
	"name": "Cotnact Us",
	"alternateName": "Get In Touch To Learn More | Workwize",
	"description": "Book a 30-minute demo to see how Workwize automates IT asset management across procurement, deployment, tracking, and retrieval.",
	"mainEntity": 
		{
			"@type": "Organization",
			"@id": "https://workwize.com/#organization",
			"name": "Workwize B.V.",
			"url": "https://workwize.com",
			"logo": "https://workwize.com/path-to-logo.png",
			"contactPoint": 
				[
					{
						"@type": "ContactPoint",
						"contactType": "sales",
						"name": "Demo Booking",
						"description": "Book a 30-minute product demo",
						"availableLanguage": ["English"],
						"areaServed": "Worldwide"
					},
					{
						"@type": "ContactPoint",
						"contactType": "customer support",
						"description": "Support for existing customers",
						"availableLanguage": ["English"],
						"areaServed": "Worldwide"
					},
					{
						"@type": "ContactPoint",
						"contactType": "partnership",
						"description": "Partnership and vendor inquiries",
						"availableLanguage": ["English"],
						"areaServed": "Worldwide"
					}
				],
			"address": 
				[
					{
						"@type": "PostalAddress",
						"streetAddress": "Leidsegracht 38",
						"postalCode": "1016 CM",
						"addressLocality": "Amsterdam",
						"addressCountry": "NL"
					},
					{
						"@type": "PostalAddress",
						"streetAddress": "33 Irving Place",
						"postalCode": "NY 10003",
						"addressLocality": "New York",
						"addressRegion": "NY",
						"addressCountry": "US"
					}
				],
			"sameAs": 
				[
					"https://www.linkedin.com/company/work-wize",
					"https://www.instagram.com/goworkwize/"
				]
		},
	"hasPart":
		{
			"@id": "https://www.goworkwize.com/contact-us/#faq"
		},
	"breadcrumb":
		{
			"@id": "https://www.goworkwize.com/contact-us/#breadcrumb"
		}
},
{
	"@type": "BreadcrumbList",
	"@id": "https://www.goworkwize.com/contact-us/#breadcrumb",
	"itemListElement": 
		[
			{
				"@type": "ListItem", 
				"position": 1, 
				"name": "Homepage",
				"item": "https://www.goworkwize.com/"  
			},
			{
				"@type": "ListItem", 
				"position": 2, 
				"name": "Contact Us"
			}
		]
}
	]
}
</script>