<!--
  templateType: "page"
  isAvailableForNewContent: false
-->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": 
[
	{
		"@type": ["Organization", "OnlineBusiness"],
		"id": "https://www.goworkwize.com/#organization",
		"name": "Workwize",
		"legalName": "Workwize",
		"alternateName": "Global IT Hardware Management | Workwize",
		"url": "https://www.goworkwize.com/",
		"description": "Equip your global workforce effortlessly with Workwize's all-in-one platform. Manage IT hardware across 100+ countries with ease.",
		"image": 
			[
				"https://www.goworkwize.com/hubfs/Workwize/Image/Workwize%20Logo.svg",
				"https://www.goworkwize.com/hs-fs/hubfs/and%20many%20more!%20(5).webp?width=1080&height=1080&name=and%20many%20more!%20(5).webp"
			],
		"logo": "https://www.goworkwize.com/hubfs/Workwize/Image/Workwize%20Logo.svg",
		"address": 
			[
				{
					"@id": "https://www.goworkwize.com/#address-nl"
				},
				{
					"@id": "https://www.goworkwize.com/#address-us"
				}
			],
		"legalAddress":
			{
				"@id": "https://www.goworkwize.com/#address-nl"
			},
		"award": 
			[
				"",
				"",
				""
			],
		"brand":
			{
				"@id": "https://www.goworkwize.com/#brand"	
			},
		"contactPoint":
			[
				{
					"@id": "https://www.goworkwize.com/#contact-details"
				},
				{
					"@id": "https://www.goworkwize.com/#data-protection"
				}
			],
		"hasOfferCatalog":
			[
				{
					"@id": "https://www.goworkwize.com/#solutions"
				}
			],
		"keywords": 
			[
				"automated onboarding",
				"automated offboarding",
				"IT asset management",
				"IT asset tracking",
				"IT inventory management",
				"mobile device management",
				"device lifecycle management",
				"IT procurement",
				"device deployment",
				"global device delivery",
				"HRIS integration",
				"self-service IT portal",
				"asset retrieval",
				"data wiping",
				"certified data erasure",
				"IT asset disposition",
				"IT asset recycling",
				"IT asset resell",
				"device refurbishment",
				"device storage",
				"global warehousing",
				"global dispatch",
				"IT logistics",
				"enterprise IT operations"
			],
		"knowsAbout": 
			[
				"Automated employee onboarding",
				"Automated employee offboarding",
				"IT asset lifecycle management",
				"Mobile device management (MDM)",
				"IT asset tracking and inventory management",
				"Global IT logistics and warehousing",
				"Device deployment and retrieval",
				"Certified data wiping and IT compliance",
				"IT asset disposition and recycling",
				"IT asset refurbishment and resale",
				"HRIS system integration",
				"Enterprise IT operations"
			],
		"skills": 
			[
				"IT asset lifecycle management",
				"mobile device management (MDM)",
				"IT procurement automation",
				"global device deployment",
				"IT inventory tracking",
				"warehouse and logistics coordination",
				"HRIS system integration",
				"self-service portal implementation",
				"secure data wiping and compliance",
				"IT asset recovery and retrieval",
				"device refurbishment processes",
				"IT asset disposition (ITAD)",
				"sustainable IT recycling",
				"IT asset resale optimization",
				"global IT operations management"
			],
		"potentialAction": 
			[
				{ "@id": "https://www.goworkwize.com/#demo-action" },
				{ "@id": "https://www.goworkwize.com/#watch-video-action" },
				{ "@id": "https://www.goworkwize.com/#talk-to-expert-action" },
				{ "@id": "https://www.goworkwize.com/#roi-calculation-action" },
				{ "@id": "https://www.goworkwize.com/#view-integrations-action" },
				{ "@id": "https://www.goworkwize.com/#newsletter-subscribe-action" },
				{ "@id": "https://www.goworkwize.com/#view-case-studies-action" },
				{ "@id": "https://www.goworkwize.com/#view-faq-action" }
			],
		"knowsLanguage":
			{
				"@id": "https://www.goworkwize.com/#language-eng"
			},
		"identifier": 
			{
				"@id": "https://www.goworkwize.com/#Kvk"
			},
		"mainEntityOfPage": 
      {
        "@id": "https://www.goworkwize.com/#webpage"
      },
		"sameAs":
			[
				"https://www.linkedin.com/company/work-wize",
				"https://www.instagram.com/goworkwize/"
			]
	},
  {
    "@type": "WebPage",
    "@id": "https://www.goworkwize.com/#webpage",
    "hasPart":
      {
        "@id": "https://www.goworkwize.com/#faq"
      }
  },
	{
		"@type": "PostalAddress",
		"@id": "https://www.goworkwize.com/#address-nl",
		"streetAddress": "Leidsegracht 38",
		"postalCode": "1016 CM",
		"addressLocality": "Amsterdam",
		"addressCountry": "NL"
    },
    {
		"@type": "PostalAddress",
		"@id": "https://www.goworkwize.com/#address-us",
		"streetAddress": "33 Irving Place",
		"addressLocality": "New York",
		"addressRegion": "NY",
		"postalCode": "10003",
		"addressCountry": "US"
    },
	{
		"@type": "Brand",
		"@id": "https://www.goworkwize.com/#brand",
		"name": "Workwize"
	},
	{
		"@type": "ContactPoint",
		"@id": "https://www.goworkwize.com/#contact-details",
		"name": "Contact details",
		"telephone": "+31644130149",
		"contactType": "Customer Support" //*let me know if type correct
	},
	{
		"@type": "ContactPoint",
		"@id": "https://www.goworkwize.com/#data-protection",
		"name": "Personal Data Protection",
		"email": "victor@goworkwize.com"
	},
	{
		"@type": "OfferCatalog",
		"@id": "https://www.goworkwize.com/#solutions",
		"name": "Solutions",
		"itemListElement":
			[
				{
					"@id": "https://www.goworkwize.com/#Automated-Onboarding"
				},
				{
					"@id": "https://www.goworkwize.com/#IT-Asset-Management"
				},
				{
					"@id": "https://www.goworkwize.com/#Automated-Offboarding"
				},
				{
					"@id": "https://www.goworkwize.com/#Device-Storage"
				}
			]
	},
	{
		"@type": "OfferCatalog",
		"@id": "https://www.goworkwize.com/#Automated-Onboarding",
		"name": "Automated Onboarding",
		"url": "https://www.goworkwize.com/solutions/automated-onboarding",
		"itemListElement":
			[
				{
					"@type": "Offer",
					"itemOffered":
						{
							"@type": "Service"
						},
					"name": "IT Procurement",
					"description": "One dashboard to procure IT hardware assets to your global workforce.",
					"url": "https://www.goworkwize.com/solutions/it-procurement"
				},
				{
					"@type": "Offer",
					"itemOffered":
						{
							"@type": "Service"
						},
					"name": "Device Deployment",
					"description": "Global delivery and MDM enrollment, all ready for your new hire’s day 1.",
					"url": "https://www.goworkwize.com/solutions/it-deployment"
				},
				{
					"@type": "Offer",
					"itemOffered":
						{
							"@type": "Service"
						},
					"name": "Self-Service Portal",
					"description": "Enable your employees to order equipment and reduce your admin workload.",
					"url": "https://www.goworkwize.com/solutions/self-service-portal"
				},
				{
					"@type": "Offer",
					"itemOffered":
						{
							"@type": "Service"
						},
					"name": "HRIS Integration",
					"description": "Sync with your HR system to prevent duplicate work and make onboarding smoother.",
					"url": "https://www.goworkwize.com/solutions/hris-integration"
				}
			]
	},
	{
		"@type": "OfferCatalog",
		"@id": "https://www.goworkwize.com/#IT-Asset-Management",
		"name": "IT Asset Management",
		"url": "https://www.goworkwize.com/solutions/itam",
		"itemListElement":
			[
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Mobile Device Management",
					"description": "Automate device enrollment and ensure security compliance.",
					"url": "https://www.goworkwize.com/solutions/mdm"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "IT Asset Tracking",
					"description": "Real-time visibility into asset locations and status.",
					"url": "https://www.goworkwize.com/solutions/it-asset-tracking"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Lifecycle Management",
					"description": "Track the performance and value of devices throughout their lifecycle.",
					"url": "https://www.goworkwize.com/solutions/it-asset-lifecycle-management"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Maintenance & Repairs",
					"description": "Centralized dashboard to manage device repairs and replacements.",
					"url": "https://www.goworkwize.com/solutions/it-maintenance"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "IT Inventory Management",
					"description": "Store, track, organize, and manage your IT inventory.",
					"url": "https://www.goworkwize.com/solutions/it-inventory-management"
				}
			]
	},
	{
		"@type": "OfferCatalog",
		"@id": "https://www.goworkwize.com/#Automated-Offboarding",
		"name": "Automated Offboarding",
		"url": "https://www.goworkwize.com/solutions/automated-offboarding",
		"itemListElement":
			[
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Asset Retrieval",
					"description": "Automated collection of devices from departing employees globally.",
					"url": "https://www.goworkwize.com/solutions/it-asset-retrieval"
				},
					{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Data Wiping",
					"description": "Certified data erasure to protect sensitive information and stay compliant.",
					"url": "https://www.goworkwize.com/solutions/data-wiping"
				},
					{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Device Refurbishment",
					"description": "Reuse refurbished offboarded equipment to reduce waste.",
					"url": "https://www.goworkwize.com/solutions/device-refurbishment"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "IT Asset Disposition",
					"description": "Eco-friendly disposal of end-of-life assets in compliance with local regulations.",
					"url": "https://www.goworkwize.com/it-asset-disposition"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Recycling",
					"description": "Sustainable recycling of IT assets to minimize environmental impact.",
					"url": "https://www.goworkwize.com/automated-offboarding#recycling"
				},
					{
					"@type": "Offer",
					"itemOffered":				
						{
							"@type": "Service"
						},
					"name": "IT Asset Resell",
					"description": "Resell retired IT assets and recover up to 45% of their original value.",
					"url": "https://www.goworkwize.com/it-asset-resell"
				}
			]
	},
	{
		"@type": "OfferCatalog",
		"@id": "https://www.goworkwize.com/#Device-Storage",
		"name": "Device Storage",
		"url": "https://www.goworkwize.com/device-storage",
		"itemListElement":
			[
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Global Warehousing",
					"description": "Local storage facilities to store IT assets and manage logistics efficiently.",
					"url": "https://www.goworkwize.com/solutions/global-warehousing"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "IT Inventory Management",
					"description": "Real-time stock tracking and automated restocking across all warehouses.",
					"url": "https://www.goworkwize.com/solutions/it-inventory-management"
				},
				{
					"@type": "Offer",
					"itemOffered": 
						{
							"@type": "Service"
						},
					"name": "Global Dispatch",
					"description": "Quick access to devices stored in local warehouses for distribution.",
					"url": "https://www.goworkwize.com/solutions/global-dispatch"
				}
			]
	},
	{
		"@type": "ViewAction",
		"@id": "https://www.goworkwize.com/#demo-action",
		"name": "Request a demo",
		"alternateName": "Get a Demo",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/contact-us",
				"actionPlatform": 
					[
						"http://schema.org/DesktopWebPlatform",
						"http://schema.org/MobileWebPlatform"
					]
			}
	},
	{
		"@type": "WatchAction",
		"@id": "https://www.goworkwize.com/#watch-video-action",
		"name": "Watch product video",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/hubfs/25662839/Videos/Workwize.mp4"
			}
	},
	{
		"@type": "CommunicateAction",
		"@id": "https://www.goworkwize.com/#talk-to-expert-action",
		"name": "Talk to an expert",
		"alternateName": "Discuss your needs",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/contact-us"
			}
	},
	{
		"@type": "ViewAction",
		"@id": "https://www.goworkwize.com/#roi-calculation-action",
		"name": "Calculate ROI",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/roi-calculator"
			}
	},
	{
		"@type": "ViewAction",
		"@id": "https://www.goworkwize.com/#view-integrations-action",
		"name": "View integrations",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/integrations"
			}
	},
	{
		"@type": "SubscribeAction",
		"@id": "https://www.goworkwize.com/#newsletter-subscribe-action",
		"name": "Subscribe to newsletter"
	},
	{
		"@type": "ViewAction",
		"@id": "https://www.goworkwize.com/#view-case-studies-action",
		"name": "See more case studies",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/case-study"
			}
	},
	{
		"@type": ["ViewAction", "ReadAction"],
		"@id": "https://www.goworkwize.com/#view-faq-action",
		"name": "View more questions",
		"target": 
			{
				"@type": "EntryPoint",
				"urlTemplate": "https://www.goworkwize.com/faq"
			}
	},
	{
		"@type": "Language",
		"@id": "https://www.goworkwize.com/#language-eng",
		"name": "English Language",
		"alternateName":
			[
				"eng",
				"En",
				"en",
				"En-en"
			],
		"sameAs": "https://en.wikipedia.org/wiki/English_language"
	},
	{
		"@type": "PropertyValue",
		"@id": "https://www.goworkwize.com/#Kvk",
		"propertyID": "KvK",
		"value": "81053223"
	}
]
}
</script>