<!--
  templateType: page
  isAvailableForNewContent: true
  label: Design 1
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
<main class="body-container-wrapper body-container-wrap-design1">

  
  
   
   {% module "module_17334718757698" path="/Workwize/modules/Hero Section - Platform", label="Hero Section - Platform" %}
  
  
  {% module "module_17334718757699" path="/Workwize/modules/Zig Zag Section", label="Zig Zag Section" %}
  
   
  
  
</main>





{% endblock body %}
