<!--
  templateType: page
  isAvailableForNewContent: true
  label: Download Guide
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area" label="Main section", class="body-container body-container--procurement" %}

  {# Hero Section - Procurement #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_17085837572387" path="/Workwize/modules/Hero Section - Procurement", label="Hero Section - Procurement" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

 {# Image and Text Section - 2 col #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_170894634263811" path="/Workwize/modules/Image and Text Section - 2 col", label="Image and Text Section - 2 col" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

 {# Cta Section Fullwidth #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_170867237490555" path="/Workwize/modules/Cta Section Fullwidth", label="Cta Section Fullwidth" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

  


{% end_dnd_area %}
{% endblock body %}
