<!--
  templateType: page
  isAvailableForNewContent: true
  label: HUBDB - 2024
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area" label="Main section", class="body-container body-container--hubdb" %}

  {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
    {% dnd_module "module_170859220832833" path="/Workwize/modules/Hero Section", label="Hero Section" %}
    {% end_dnd_module %}
  {% end_dnd_section %}
   
  {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
    {% dnd_module "module_17189652417965" path="/Workwize/modules/Updated HUBDB Module - 2024", label="Updated HUBDB Module - 2024" %}
    {% end_dnd_module %}
  {% end_dnd_section %}
  


{% end_dnd_area %}
{% endblock body %}
