<!--
  templateType: page
  isAvailableForNewContent: true
  label: Integration - 2024
-->
{% extends "./layouts/base.html" %}

{# START - SchemaMarkup data include #}
    {% block custom_schema %}
    {% include "/Workwize/templates/partials/Schema Markup/Integration Pages Schema.html" %}
    {% endblock %}
{# END - SchemaMarkup data include #}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
<main class="body-container-wrapper body-container-wrap-Integration">

  
  

      {% dnd_area "dnd_area" label="Listing Section", class="body-container" %}
 
        {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
          {% dnd_module "module_17189652417965" path="/Workwize/modules/HRIS Integration Section", label="HRIS Integration Section" %}
          {% end_dnd_module %}
        {% end_dnd_section %}

      {% end_dnd_area %}
  
  
    {% if dynamic_page_hubdb_row %}  
    <div class="hrisit-title text-center">
      <div class="wrapper">
        
        <div class="hrisit-tlogo">
          <img src="{{ dynamic_page_hubdb_row.logo.url }}" alt="{{ dynamic_page_hubdb_row.hs_name }}" loading="lazy" width="300" height="300">
          <span>+</span>
          <img src="https://25662839.fs1.hubspotusercontent-eu1.net/hubfs/25662839/Imported%20images/favicon-(1).png" alt="Workwize" loading="lazy" width="300" height="300">
        </div>
        
        <h1>{{ dynamic_page_hubdb_row.hs_name }} + Workwize Integration</h1>     
      </div>
    </div>
   {% endif %}
    
   {#{% module "module_173227889209315" path="/Workwize/modules/HRIS Integration Inner Title And Logos", label="HRIS Integration Inner Title And Logos" %}#}
  
   {% module "module_17334718757698" path="/Workwize/modules/Integration Inner Title And Logos", label="Integration Inner Title And Logos" %}
  
   {% module "module_173228151713329" path="/Workwize/modules/HRIS Integration Title Text", label="HRIS Integration Title Text" %} 
  
   {% module "module_173228238207237" path="/Workwize/modules/HRIS Integration Col Box", label="HRIS Integration Col Box 01" %}
  
   {% module "module_173228238207238" path="/Workwize/modules/HRIS Integration Col Box", label="HRIS Integration Col Box 02" %}
  
   {% module "module_173228238207239" path="/Workwize/modules/HRIS Integration Col Box", label="HRIS Integration Col Box 03" %}
  
   {% module "module_173228151713330" path="/Workwize/modules/HRIS Integration Title Text", label="HRIS Integration Title Text Button" %}
  
   {#{% module "module_173228360707344" path="/Workwize/modules/FAQ Section - HubDB Inner", label="FAQ Section - HubDB Inner" %}#}
  {% module "module_17340783738247" path="/Workwize/modules/FAQ Section - HubDB Inner Integration", label="FAQ Section - HubDB Inner Integration" %}
   
  
  
</main>





{% endblock body %}
