<!--
  templateType: page
  isAvailableForNewContent: true
  label: IT Procurement
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area" label="Main section", class="body-container body-container--procurement" %}

  {# Hero Section - Procurement #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_17085837572387" path="/Workwize/modules/Hero Section - Procurement", label="Hero Section - Procurement" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

  {# Two Col Section #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_170858854814838" path="/Workwize/modules/Two Col Section", label="Two Col Section" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}
  
  {# Testimonial Section - Image #}
  {#{% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
   {% dnd_module "module_170867235478753" path="/Workwize/modules/Testimonial Section - Image", label="Testimonial Section - Image" %}
   {% end_dnd_module %}  
  {% end_dnd_section %} #}
  
  {# Testimonial Section - Image Global #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_173891412305573" path="/Workwize/modules/Testimonial Section - Image Global", label="Testimonial Section - Image Global" %}
    {% end_dnd_module %}  
  {% end_dnd_section %} 

  {# Accordion Section #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
   {% dnd_module "module_17092124312054" path="/Workwize/modules/Accordion Section", label="Accordion Section" %}
   {% end_dnd_module %}  
  {% end_dnd_section %} 

  {# Cta Section #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_170860075643044" path="/Workwize/modules/Cta Section", label="Cta Section" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
