<!--
  templateType: page
  isAvailableForNewContent: true
  label: Programmatic SEO - 2024
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
<main class="body-container-wrapper">
{% dnd_area "dnd_area" label="Listing Section", class="body-container body-container--hubdb" %}

  {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
    {% dnd_module "module_170859220832833" path="/Workwize/modules/Hero Section", label="Hero Section" %}
    {% end_dnd_module %}
  {% end_dnd_section %}
   
  {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
    {% dnd_module "module_17189652417965" path="/Workwize/modules/Updated HUBDB Module - 2024", label="Updated HUBDB Module - 2024" %}
    {% end_dnd_module %}
  {% end_dnd_section %}
  


{% end_dnd_area %}

 {% module "module_172259756500634" path="/Workwize/modules/Hero Section Programmatic SEO", label="Hero Section Programmatic SEO" %}
  
 {% module "module_172259757978435" path="/Workwize/modules/Logo Section HubDB inner", label="Logo Section HubDB inner" %} 
  
 {% module "module_172259782641441" path="/Workwize/modules/Remote Workforce Section HubDB Inner", label="Remote Workforce Section HubDB Inner" %}
  
 {% module "module_172259849403648" path="/Workwize/modules/Who is Workwize Section HubDB Inner", label="Who is Workwize Section HubDB Inner" %}

 {% module "module_172259914205456" path="/Workwize/modules/IT Asset Management Section HubDB Inner", label="IT Asset Management Section HubDB Inner" %} 
  
 {% module "module_172259849573648" path="/Workwize/modules/Who is Workwize Section HubDB Inner", label="Who is Workwize Section HubDB Inner" %} 
  
 {% module "module_172259981090962" path="/Workwize/modules/Zig Zag Section - HubDB Inner", label="Zig Zag Section - HubDB Inner" %} 
  
 {% module "module_172260007830667" path="/Workwize/modules/Testimonial Section - Image HubDB Inner", label="Testimonial Section - Image HubDB Inner" %} 
  
 {% module "module_1722599810954962" path="/Workwize/modules/Zig Zag Section - HubDB Inner", label="Zig Zag Section - HubDB Inner" %}  
  
 {% module "module_17225978810954962" path="/Workwize/modules/Zig Zag Section - HubDB Inner", label="Zig Zag Section - HubDB Inner" %}  
  
 {% module "module_172260095818977" path="/Workwize/modules/Why Workwize - HubDB Inner", label="Why Workwize - HubDB Inner" %} 
  
 {% module "module_172260313885384" path="/Workwize/modules/Pricing Section 2024 HubDB Inner", label="Pricing Section 2024 HubDB Inner" %} 
 {#{% module "module_17443574704712" path="/Workwize/modules/Pricing Section 2024 HubDB Inner - Global", label="Pricing Section 2024 HubDB Inner - Global" %}#}
  
 {% module "module_172260824595999" path="/Workwize/modules/Quick Fact Section - HubDB Inner", label="Quick Fact Section - HubDB Inner" %}
  
 {% module "module_172293739278812" path="/Workwize/modules/Related article HUBDB Module - 2024", label="Related article HUBDB Module - 2024" %} 
  
 {% module "module_17229367273834" path="/Workwize/modules/FAQ Section - HubDB Inner", label="FAQ Section - HubDB Inner" %}
  
 {% module "module_172260694366792" path="/Workwize/modules/Request Demo Form - HubDB Inner", label="Request Demo Form - HubDB Inner" %} 
 
  
   
  
</main>





{% endblock body %}
{% if dynamic_page_hubdb_row %}
   {% require_js %}
    <script>
	     $(document).ready(function(){
				 $('body').addClass('hs-hubdb-post');
				 $('.header-logo').addClass('hlogowhite-text-with-sky-blue-logo'); 
         $('.header-logo').removeClass('hlogodark-blue-text-and-logo'); 
         $('.header-sec').addClass('headerwhite-text-with-sky-blue-logo'); 
         $('.header-sec').removeClass('headerdark-blue-text-and-logo'); 
         
			 });
	   </script>
    {% end_require_js %}
{% endif %}