<!--
  templateType: page
  isAvailableForNewContent: true
  label: Report
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--report"
%}

  {# Hero Section - Procurement #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_17085837572387" path="/Workwize/modules/Hero Section - Pricing", label="Hero Section - Pricing" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}

  {# Logo Section #}
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_170867231176849" path="/Workwize/modules/Report Listing Section", label="Report Listing Section" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}  

 {# Cta Section Fullwidth #}
  {% dnd_section full_width="true" padding={'default': { 'top': 0 , 'right': 0 , 'left': 0 , 'bottom': 0 } } %}
  {% dnd_module "module_170867878552659" path="/Workwize/modules/Subscription Section", label="Subscription Section" %}
  {% end_dnd_module %}     
 {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
