<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Blog listing
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if content.html_title %}<title>{{ content.html_title }}</title>{% endif %}
    <meta name="description" content="{{ content.meta_description }}">
    {% if brand_settings.primaryFavicon.src %}
      <link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />
    {% endif %}
    {{ standard_header_includes }}
  </head>
  <body>
    <main>

      {# Blog author listing #}

      {% if blog_author %}
        <section>
          {% if blog_author.avatar %}
            <img src="{{ blog_author.avatar }}" alt="image of blog {{ blog_author.display_name }}">
          {% endif %}
          <h1>{{ blog_author.display_name }}</h1>
          {% if blog_author.bio %}
            <p>{{ blog_author.bio }}</p>
          {% endif %}
          {% if blog_author.has_social_profiles %}
            <div>
              {% if blog_author.website %}
                <a href="{{ blog_author.website }}" target="_blank" rel="noopener">
                  {% icon
                    name="link",
                    purpose="semantic",
                    style="SOLID",
                    title="Follow us on our website",
                    width="10"
                  %}
                </a>
              {% endif %}
              {% if blog_author.facebook %}
                <a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
                  {% icon
                    name="facebook-f",
                    purpose="semantic",
                    style="SOLID",
                    title="Follow us on Facebook",
                    width="10"
                  %}
                </a>
              {% endif %}
              {% if blog_author.linkedin %}
                <a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
                  {% icon
                    name="linkedin-in",
                    purpose="semantic",
                    style="SOLID",
                    title="Follow us on LinkedIn",
                    width="10"
                  %}
                </a>
              {% endif %}
              {% if blog_author.twitter %}
                <a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
                  {% icon
                    name="twitter",
                    purpose="semantic",
                    style="SOLID",
                    title="Follow us on Twitter",
                    width="10"
                  %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </section>
      {% elif tag %}

      {# Blog tag listing #}

        <section>
          <h1>Posts about {{ page_meta.html_title|split(" | ")|last }}</h1>
        </section>
      {% else %}

      {# Blog listing heading #}

        <section>
          <h1>{{ group.public_title }}</h1>
          <p>{{ group.description }}</p>
        </section>
      {% endif %}

      {% dnd_area "dnd_area"
        label="Main section"
      %}
        {% dnd_section %}
          {% dnd_column %}
            {% dnd_row %}

              {% dnd_module path="@hubspot/blog_listing" %}
              {% end_dnd_module %}

            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module path="@hubspot/pagination" %}
              {% end_dnd_module %}

            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_section %}
      {% end_dnd_area %}

    </main>
    {{ standard_footer_includes }}
  </body>
</html>
