<!--
  templateType: page
  isAvailableForNewContent: true
  label: Test page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}



{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

{# Hero Section - Glossary 
  {% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
    {% dnd_module "module_17173943217048" path="/Workwize/modules/Hero Section - Glossary", label="Hero Section - Glossary" %}
    {% end_dnd_module %}  
  {% end_dnd_section %}
#}
{# Three column image with text 

  {% include_dnd_partial
    path="../sections/multi-column-content.html",
    context={
      "background_color": "#FFFFFF"
    }
  %}
#}
{% dnd_section full_width='true', vertical_alignment='MIDDLE', padding= {'top': '0', 'bottom': '0', 'left': '0', 'right': '0',} %}
{% dnd_module "module_17406357069295" path="/Workwize/modules/Multi Step Module Version 1", label="Multi Step Module Version 1" %}
{% end_dnd_module %}  
{% end_dnd_section %}



{% end_dnd_area %}
{% endblock body %}

{% block footer %}
{% global_partial path="./partials/footer-landing-page.html" %}
{% endblock footer %}
