{% if module.show_hide_ %}
{% set moduleId = '#hs_cos_wrapper_{{ name }}' %}
<div class="fullwidth bgsec space-sec ThreeColumnBoxSection">
  <div class="wrapper">
    <div class="secinner">
      {% if module.text or module.title %}   
      <div class="secheader">
        {% if module.title %} 
        <div class="sectitle {% if not module.text %} removespace{% endif %}">
          <h2>{{ module.title }}</h2> 
        </div>
        {% endif %}
        {% if module.text %}  
        <div class="sectxt"> 
          {{ module.text }} 
        </div>
        {% endif %} 
      </div>
      {% endif %} 
      <div class="ThreeColBoxGrpMain">
        {% for item in module.section_group %}
        <div class="ThreeColBox">
          <div class="ThreeColBoxTitleSec">
            {% if item.box_logo.src %}
            <div class="ThreeColBoxLogo">
              <img src="{{ item.box_logo.src|escape_url }}" alt="{{ item.box_logo.alt|escape_attr }}">
            </div>
            {% endif %}
            {% if  item.box_title  %}
            <div class="ThreeColBoxTitle">
              <h4>
                {{ item.box_title }}
              </h4>
            </div>
            {% endif %}
          </div>
          {% if  item.box_sub_title %}
          <div class="ThreeColBoxSubTitle">
            <h6>
              {{ item.box_sub_title }}
            </h6>
          </div>
          {% endif %}
          {% if item.box_image.src %}
          <div class="ThreeColBoxImg ThreeColBoxIg{{ item.box_image_size }}">
            <img src="{{ item.box_image.src|escape_url }}" alt="{{ item.box_image.alt|escape_attr }}">
          </div>
          {% endif %}
          <div class="ThreeColBoxBtCnt">
            <ul>
             {% for item2 in item.list_group %}
              <li class="ThreeColCnt {% if item2.want_to_remove_icon_ %} ThreeColCntrmIcon {% endif %}">
                <div class="threelistcnt">
                  <h6>{{ item2.list_title }}</h6>
                 {{ item2.box_content }}
                </div>
              </li>
              {% endfor %}
            </ul>  
          </div>

        </div>
        {% endfor %}
      </div>

    </div>    
  </div>
</div>


{% require_css %}
<style>
  {{ moduleId }} .bgsec { {% if module.style.select_background == 'bg_color' %}
    background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity ~ '%' }});
    {% elif module.style.select_background == 'bg_image' %}
    {{ module.style.background_image.css }} background-repeat: no-repeat;
    {% elif module.style.select_background == 'bg_gradient' %}
    background: {{ module.style.background_gradient.css }};
    {% endif %} }

  {{ moduleId }} .space-sec { {{ module.style.spacing.desktop.css }}; }

  {{ moduleId }} .sectitle h1,
  {{ moduleId }} .sectitle h2 , 
  {{ moduleId }} .sectitle h3 , 
  {{ moduleId }} .sectitle h4 , 
  {{ moduleId }} .sectitle h5 ,
  {{ moduleId }} .sectitle h6 { color: rgba({{ module.color_settings.title_color.color|convert_rgb }},{{ module.color_settings.title_color.opacity ~ '%' }}); }
  {{ moduleId }} .sectxt , {{ moduleId }} .sectxt * { color: rgba({{ module.color_settings.text_color.color|convert_rgb }},{{ module.color_settings.text_color.opacity ~ '%' }}); } 




  @media(max-width: 991px){ {{ moduleId }} .space-sec { {{ module.style.spacing.tablet.css }}; } }

  @media(max-width: 767px){ {{ moduleId }} .space-sec { {{ module.style.spacing.mobile.css }}; } }

</style>
{% end_require_css %}
{% endif %}
